<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="MsBuildLocaion" value="cd C:\Windows\Microsoft.NET\Framework"/>
        <add key ="MsDeployeLocation" value="cd C:\Program Files (x86)\IIS\Microsoft Web Deploy\" />
        <add key="Package" value="{0}MSBuild.exe {1}/T:Package /P:Configuration={2};Platform={3};PackageLocation={4}"/>
        <add key ="Deploy" value ="{0} {1} /y"/>
    </appSettings>
</configuration>